@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7c7ff;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ae2dfd 23%, #68e0cf 96.25%);
}

.progress {
  background: linear-gradient(90deg, #68e0cf 0%, #209cff 100%);
}

.done {
  background: linear-gradient(90deg, #209cff 0%, #ae2dfd 100%);
}

.hold {
  border: 5px solid #e4a4fa;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #bfa1c6;
}

@media (max-width: 820px) {
  .container {
    display: contents;
    margin-bottom: 20px;
  }

  .row {
    display: block;
    margin-bottom: 10px;
    margin-left: 30%;
  }

  .col-header {
    margin-bottom: 65px;
  }

  .placeholder {
    width: 135px;
    height: 69px;
    margin-bottom: 30px;
    margin-left: -145px;
}
}
